@import "partials/variables";
@import "partials/mixins";
@import "partials/base";
@import "partials/header";
@import "partials/home";
@import "partials/about";
@import "partials/portfolio";
@import "partials/contact";
@import "partials/client";
@import "partials/404";
@import "partials/footer";
@import "partials/charity";
